<div class="container">
    <h1>Student Information</h1>
    <p><strong>Name:</strong>{{student.studentName}}
    </p>
    <p><strong>Date of Birth:</strong> {{student.dateOfBirth}}
    </p>
    <p><strong>Student ID:</strong> {{student.rollNumber}}
    </p>
    <table>
        {{{schedule}}}
    </table>
</div>